.mefi-haps-activity {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 2em;

  /* Invisible by default. */
  opacity: 0;
  transition: opacity 1s;
}

.mefi-haps-activity a {
  font-weight: 600;
}

.mefi-haps-activity.haps-visible {
  opacity: 1;
  transition: opacity 1s;
}
